:host {
  display: block;
  padding: 24px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-bottom: 28px;
  padding-bottom: 16px;

  border-bottom: 1px solid #e5e7eb;
}

.page-header h1 {
  display: flex;
  align-items: center;
  gap: 10px;

  margin: 0;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.3px;

  color: #1a439c; /* azul mais próximo do protótipo */
}

.page-header h1 mat-icon {
  font-size: 26px;
  width: 26px;
  height: 26px;
  color: #1a439c;
}

.btn-primary {
  background: #F59E0B !important;
  color: #111827 !important;

  font-weight: 600;
  border-radius: 999px;
  padding: 6px 20px;
  height: 40px;

  display: flex;
  align-items: center;
  gap: 8px;

  transition: all 0.2s ease;
}

/* ícone também preto */
.btn-primary mat-icon {
  color: #000000;
}

/* hover */
.btn-primary:hover {
  background: #FBBF24 !important;
}

/* clique */
.btn-primary:active {
  transform: scale(0.98);
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.mat-mdc-table {
  width: 100%;
  background: white;
}

.mat-mdc-header-cell {
  background-color: #3f51b5 !important;
  color: white !important;
  font-weight: bold;
  font-size: 14px;
  padding: 16px !important;
}

::ng-deep .mat-sort-header-arrow {
  color: white !important;
}

.mat-mdc-row:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-mdc-row:hover {
  background-color: #f0f2ff !important;
  transition: background-color 0.2s ease;
}

.mat-column-id {
  width: 60px;
  text-align: center;
}

.mat-column-actions {
  width: 120px;
  text-align: center;
}

.mat-mdc-no-data-row td {
  padding: 32px !important;
  text-align: center;
  color: #666;
}
